<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Font</title>
    </head>

    <body>
        <td><img src={{ url_for('static', filename='cutImage/돈.jpg') }}>돈</td><br>
        <td><img src={{ url_for('static', filename='cutImage/이.jpg') }}>이</td><br>
        <td><img src={{ url_for('static', filename='cutImage/없.jpg') }}>없</td><br>
        <td><img src={{ url_for('static', filename='cutImage/다.jpg') }}>다</td><br>
        <td><img src={{ url_for('static', filename='cutImage/라.jpg') }}>라</td><br>
        <td><img src={{ url_for('static', filename='cutImage/는.jpg') }}>는</td><br>
        <td><img src={{ url_for('static', filename='cutImage/것.jpg') }}>것</td><br>
        <form action="list" method="get">
            <input type="submit" value="submit">
        </form>
    </body>
</html>