<div class="full-screen" style="background-color:#fff; height:100px;">
    <div class="container" style="background-color:#fff; height:100px;">
        <table width="100%">
            <tr>
                <td height="100px" align="center">
                    <a style="border: 1px solid #593a07; border-radius: 50px; padding: 5px 15px; color: #593a07;">
                        THE BEST PLAN IS NO PLAN
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>