<!doctype html>
<html>
	<head>
    	  	<meta charset="utf-8">
        	<title>My Font</title>
        	<meta name="description" content="Kookmin University Capstone Project of Team 12">
        	<link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
        	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<script type="text/javascript" src={{ url_for('static', filename='js/common.js') }}></script>
         <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    	</head>

    	<body>
        	<header w3-include-html="header"></header>
        	<script>includeHTML();</script>

        	<section class="body-of-fixed-header">
            	<div class="full-screen" style="background-color:#fff;">
                		<div class="container" style="background-color:#fff;">
                    		<div class="row title-underline-container">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-8 title-underline-long">
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-10 title-underline-short">
                                                    <div class="col-12 title-content-center">
                                                        Training
                                                    </div>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            </div>

                            <div class="row">
                        		<div class="col-6">
                            		<video autoplay muted loop width="100%" poster={{ url_for('static', filename='image/main/loading.gif') }}>
                                			<source src={{ url_for('static', filename='image/main/ehs_eh.mp4') }} type="video/mp4"/>
                            		</video>
                            		<p class="caption-of-video"><b>[ 돈 -> 도 ]</b></p>
                        		</div>

                        		<div class="col-6">
                            		<video autoplay muted loop width="100%" poster={{ url_for('static', filename='image/main/loading.gif') }}>
                                			<source src={{ url_for('static', filename='image/main/djqt_dlT.mp4') }} type="video/mp4"/>
                            		</video>
                            		<p class="caption-of-video"><b>[없 -> 있]</b></p>
                        		</div>

                        		<div class="col-6">
                            		<video autoplay muted loop width="100%" poster={{ url_for('static', filename='image/main/loading.gif') }}>
                                			<source src={{ url_for('static', filename='image/main/ek_Ek.mp4') }} type="video/mp4"/>
                            		</video>
                            		<p class="caption-of-video"><b>[다 -> 따]</b></p>
                        		</div>

                        		<div class="col-6">
                            		<video autoplay muted loop width="100%" poster={{ url_for('static', filename='image/main/loading.gif') }}>
                                			<source src={{ url_for('static', filename='image/main/ek_rh.mp4') }} type="video/mp4"/>
                            		</video>
                            		<p class="caption-of-video"><b>[다 -> 고]</b></p>
                        		</div>

                        		<div class="col-6">
                            		<video autoplay muted loop width="100%" poster={{ url_for('static', filename='image/main/loading.gif') }}>
                                			<source src={{ url_for('static', filename='image/main/fk_rk.mp4') }} type="video/mp4"/>
                            		</video>
                            		<p class="caption-of-video"><b>[라 -> 가]</b></p>
                        		</div>

                        		<div class="col-6">
                            		<video autoplay muted loop width="100%" poster={{ url_for('static', filename='image/main/loading.gif') }}>
                                			<source src={{ url_for('static', filename='image/main/sms_dms.mp4') }} type="video/mp4"/>
                            		</video>
                            		<p class="caption-of-video"><b>[는 -> 은]</b></p>
                        		</div>
                    		</div>

                            <div class="h20"></div>

                    		<div class="row title-underline-container">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-8 title-underline-long">
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-10 title-underline-short">
                                                    <div class="col-12 title-content-center">
                                                        Result
                                                    </div>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            </div>

                            <div class="row">
                                  <div class="col-6">
                                      <img src={{ url_for('static', filename='image/main/result_1.png') }}  width="100%">
                                      <p class="caption-of-result">210 그린나래</p>
                                  </div>

                                  <div class="col-6">
                                      <img src={{ url_for('static', filename='image/main/result_2.png') }}  width="100%">
                                      <p class="caption-of-result">HS가을생각체</p>
                                  </div>

                                  <div class="col-6">
                                      <img src={{ url_for('static', filename='image/main/result_3.png') }}  width="100%">
                                      <p class="caption-of-result">210 덩실덩실</p>
                                  </div>

                                  <div class="col-6">
                                      <img src={{ url_for('static', filename='image/main/result_4.png') }}  width="100%">
                                      <p class="caption-of-result">EBS훈민정음</p>
                                  </div>

                                  <div class="col-6">
                                      <img src={{ url_for('static', filename='image/main/result_5.png') }}  width="100%">
                                      <p class="caption-of-result">BMHANNA_11yrs</p>
                                  </div>

                                  <div class="col-6">
                                      <img src={{ url_for('static', filename='image/main/result_6.png') }}  width="100%">
                                      <p class="caption-of-result">야놀자 야체</p>
                                  </div>
                            </div>

                            <div class="h20"></div>

                            <div class="row title-underline-container">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-8 title-underline-long">
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-10 title-underline-short">
                                                    <div class="col-12 title-content-center">
                                                        Team Info.
                                                    </div>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="col-4"></div>
                            </div>

                    		<div class="row view-team">
                    			<div class="col-6">
                    				<table width="100%">
                    					<colgroup>
                    						<col width="40%">
                    						<col width="60%">
                    					</colgroup>
                    					<tr>
                    						<td>
                    							<img src={{ url_for('static', filename='image/main/Hwang.jpeg') }}  width="100%" style="max-width: 240px">
                    						</td>
                    						<td>
                    							<ul style="list-style: none; margin: 0px;">
                    								<li>- 이름 : 황용환</li>
                    								<li>- 직책 : 팀장</li>
                    								<li>- E-mail : iamyonghwan@nate.com</li>
                    								<li>- tel : 010-9177-1204</li>
                    							</ul>
                    						</td>
                    					</tr>
                    				</table>
                    			</div>

                    			<div class="col-6">
                    				<table width="100%">
                    					<colgroup>
                    						<col width="40%">
                    						<col width="60%">
                    					</colgroup>
                    					<tr>
                    						<td>
                    							<img src={{ url_for('static', filename='image/main/Kim.jpeg') }} width="100%" style="max-width: 240px">
                    						</td>
                    						<td>
                    							<ul style="list-style: none; margin: 0px;">
                    								<li>- 이름 : 김선규</li>
                    								<li>- 직책 : 팀원</li>
                    								<li>- E-mail : kimsk9410@gmail.com</li>
                    								<li>- tel : 010-2987-2260</li>
                    							</ul>
                    						</td>
                    					</tr>
                    				</table>
                    			</div>

                    			<div class="h20"></div>

                    			<div class="col-6">
                    				<table width="100%">
                    					<colgroup>
                    						<col width="40%">
                    						<col width="60%">
                    					</colgroup>
                    					<tr>
                    						<td>
                    							<img src={{ url_for('static', filename='image/main/Oh.jpeg') }}  width="100%" style="max-width: 240px">
                    						</td>
                    						<td>
                    							<ul style="list-style: none; margin: 0px;">
                    								<li>- 이름 : 오근택</li>
                    								<li>- 직책 : 팀원</li>
                    								<li>- E-mail : rmsxor94@naver.com</li>
                    								<li>- tel : 010-6745-4412</li>
                    							</ul>
                    						</td>
                    					</tr>
                    				</table>
                    			</div>

                    			<div class="col-6">
                    				<table width="100%">
                    					<colgroup>
                    						<col width="40%">
                    						<col width="60%">
                    					</colgroup>
                    					<tr>
                    						<td>
                    							<img src={{ url_for('static', filename='image/main/Lee.jpg') }}  width="100%" style="max-width: 240px">
                    						</td>
                    						<td>
                    							<ul style="list-style: none; margin: 0px;">
                    								<li>- 이름 : 이상욱</li>
                    								<li>- 직책 : 팀원</li>
                    								<li>- E-mail : leekitten123@hanmail.net</li>
                    								<li>- tel : 010-3008-8478</li>
                    							</ul>
                    						</td>
                    					</tr>
                    				</table>
                    			</div>
                    		</div>
                		</div>
            	</div>
        	</section>

        	<footer w3-include-html="footer"></footer>
    	</body>
</html>