<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Font</title>
    </head>

    <body>
        <td><img src={{ url_for('static', filename='pictures/'+ filename) }}>aa</td>
		<form action="cutImage" method="post">
			filename : {{ filename }}<br>
			라인 : <input type="text" name="lineNumber"><br>
			생성 파일 이름 : <input type="text" name="ttfName"><br>
			<input type="hidden" value={{ filename }} name="filename">
			<input type="submit" value="submit">
		</form>
    </body>
</html>