<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Font</title>
        <meta name="description" content="Kookmin University Capstone Project of Team 12">
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script type="text/javascript" src={{ url_for('static', filename='js/common.js') }}></script>
    </head>
    
    <body>
        <header w3-include-html="header"></header>
        <script>includeHTML();</script>
        
        <section class="body-of-fixed-header">
            <div class="full-screen" style="background-color:#fff;">
                <div class="container" style="background-color:#fff;">
                    <form action="upload" method="post" enctype="multipart/form-data">
                        <input type="file" name="profile[]" multiple="multiple">
                        <input type="submit">
                    </form>
                    
                    * 주의사항 이미지
                </div>
            </div>
        </section>
        
        <footer w3-include-html="footer"></footer>
    </body>
</html>